{% if site.owner.google.ad-client and site.owner.google.ad-slot %}
<div class="entry" style="padding-top: 20px; padding-bottom: 20px">

</div>
{% include ad-footer.html %}
{% endif %}
<div>
  <div class="social-icons sponsors diamant">
    <a href="https://weareadaptive.com" title="Adaptive" target="_blank"><img src="/images/sponsors/weareadaptive.png" alt="Adaptive"></a>
  </div>
  <div class="social-icons sponsors platinium">
    <a href="https://alithya.com/" title="Alithya" target="_blank"><img src="/images/sponsors/alithya.png" alt="Alithya"></a>
    <a href="https://www.intactlab.ca/" title="Intact Assurance" target="_blank"><img src="/images/sponsors/intact.png" alt="Intact Assurance"></a>
  </div>
<!--	<div class="social-icons sponsors gold">-->
<!--  </div>-->
	<div class="social-icons">
		{% if site.owner.meetup %}<a href="https://www.meetup.com/{{ site.owner.meetup }}" title="{{ site.owner.name}} on Meetup" target="_blank"><img src="/images/meetup.png" alt="Meetup" width="40px" style="vertical-align: top;"></a>{% endif %}
		{% if site.owner.twitter %}<a href="https://twitter.com/{{ site.owner.twitter }}" title="{{ site.owner.name}} on Twitter" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>{% endif %}
		{% if site.owner.youtube %}<a href="https://www.youtube.com/channel/{{ site.owner.youtube }}" title="{{ site.owner.name}} on Youtube" target="_blank"><i class="fa fa-youtube-square fa-2x"></i></a>{% endif %}
		{% if site.owner.twitch %}<a href="https://www.twitch.tv/{{ site.owner.twitch }}" title="{{ site.owner.name}} on Twitch" target="_blank"><img src="/images/twitch.png" alt="Meetup" width="30px" style="vertical-align: top;"></a>{% endif %}
		{% if site.owner.facebook %}<a href="https://facebook.com/{{ site.owner.facebook }}" title="{{ site.owner.name}} on Facebook" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>{% endif %}
		{% if site.owner.google.plus %}<a href="https://plus.google.com/+{{ site.owner.google.plus }}" title="{{ site.owner.name}} on Google+" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a>{% endif %}
		{% if site.owner.stackexchange %}<a href="{{ site.owner.stackexchange }}" title="{{ site.owner.name}} on StackExchange" target="_blank"><i class="fa fa-stack-exchange fa-2x"></i></a>{% endif %}
		{% if site.owner.instagram %}<a href="https://instagram.com/{{ site.owner.instagram }}" title="{{ site.owner.name}} on Instagram" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>{% endif %}
		{% if site.owner.flickr %}<a href="https://www.flickr.com/photos/{{ site.owner.flickr }}" title="{{ site.owner.name}} on Flickr" target="_blank"><i class="fa fa-flickr fa-2x"></i></a>{% endif %}
		{% if site.owner.github %}<a href="https://github.com/{{ site.owner.github }}" title="{{ site.owner.name}} on Github" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>{% endif %}
		{% if site.owner.tumblr %}<a href="https://{{ site.owner.tumblr }}.tumblr.com" title="{{ site.owner.name}} on Tumblr" target="_blank"><i class="fa fa-tumblr-square fa-2x"></i></a>{% endif %}
		{% if site.owner.linkedin %}<a href="{{ site.owner.linkedin }}" title="{{ site.owner.name}} on LinkedIn" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>{% endif %}
    <a href="{{ site.url }}/feed.xml" title="Atom/RSS feed"><i class="fa fa-rss-square fa-2x"></i></a>
	</div><!-- /.social-icons -->
  <span>&copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}.</span>

  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'fr', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
    }
  </script>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</div>
