---
sitemap: false
---

/*
 *
 *  So Simple
 *
 *  Designer: Michael Rose
 *  Twitter: http://twitter.com/mmistakes
 *
*/

// Partials
@import "variables";
@import "vendor/bourbon/bourbon";
@import "grid-settings";
@import "vendor/neat/neat";
@import "mixins";
@import "reset";
@import "site";
@import "pygments";
@import "coderay";
@import "elements";
@import "forms";
@import "layout";
@import "vendor/font-awesome/font-awesome";
@import "vendor/magnific-popup/magnific-popup";
@import "simple-search";

.site-logo img {
  height: 185px;
}

.entry-title {
  font-size: 3.25rem;
}

a:hover {
  color: #fb6b48
}

a:visited {
  color: #A62A26
}

h1.entry-title {
  text-align: center;
}
