---
sitemap: false
---

/*
 *
 *  So Simple
 *
 *  Designer: Michael Rose
 *  Twitter: http://twitter.com/mmistakes
 *
*/

// Partials
@import "variables";
@import "vendor/bourbon/bourbon";
@import "grid-settings";
@import "vendor/neat/neat";
@import "mixins";
@import "reset";
@import "site";
@import "pygments";
@import "coderay";
@import "elements";
@import "forms";
@import "layout";
@import "vendor/font-awesome/font-awesome";
@import "vendor/magnific-popup/magnific-popup";
@import "simple-search";

a:hover {
  color: #FC5453
}

a:visited {
  color: #FC5453
}

#home .entry-wrapper, #page .entry-wrapper {
  max-width: 60em;
}

.entry-content p>a, .entry-content li>a {
    border: none;
}
.entry-content p>a:hover, .entry-content li>a:hover {
    border: none;
}

.bio-member {
  display: inline-block !important;
  width: auto  !important;
  height: auto  !important;
  margin-right: 20px;
}

.social-icons.sponsors {
  border-bottom: lightgray solid 1px;
  padding-bottom: 1em;
}

.social-icons.sponsors img {
  vertical-align: top;
}

.social-icons.sponsors.diamant img {
  max-height: 160px;
}

.social-icons.sponsors.platinium img {
    max-height: 80px;
}

.social-icons.sponsors.gold img {
    max-height: 60px;
}

.social-icons.sponsors.partners img {
    max-height: 40px;
}
